// Variables

// Main color
$primary-color: #fff;

// Anchor color
$secondary-color: #0097bd;

// Font color
$font-color: #000;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $primary-color;
$navbar-color: $primary-color;
$navbar-lg-collapse-background-color: $secondary-color;
$navbar-lg-background: rgba(0, 151, 189, 0.75);
$navbar-sm-background-color: $secondary-color;

$social-buttons-color: $secondary-color;
